.gallery-mini-title {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 3rem;
  text-align: center;
}
.gallery-mini-title::after {
  content: '';
  display: block;
  width: 3px;
  height: 25px;
  background-color: #f8bf02;
  /* margin: 0 auto; */
  margin-left: 42rem;
  margin-top: -1.3rem;
  /* margin-bottom: 1rem; */
}
.gallery-title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.gallery-swiper {
  width: 100%;
  height: 85vh;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.gallery-slide-1,
.gallery-slide-2,
.gallery-slide-3,
.gallery-slide-4,
.gallery-slide-5,
.gallery-slide-6,
.gallery-slide-7,
.gallery-slide-8,
.gallery-slide-9 {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  /* background-image: url(../../../img/african-leopard-female-pose-beautiful-evening-light.jpg); */
}
.gallery-slide-1 {
  background-image: linear-gradient(
      to top,
      rgba(4, 9, 30, 20),
      rgba(4, 9, 30, 0.3)
    ),
    url(../../../img/g-1.jpg);
}
.gallery-slide-2 {
  background-image: linear-gradient(
      to top,
      rgba(4, 9, 30, 20),
      rgba(4, 9, 30, 0.3)
    ),
    url(../../../img/g-2.jpg);
}
.gallery-slide-3 {
  background-image: linear-gradient(
      to top,
      rgba(4, 9, 30, 20),
      rgba(4, 9, 30, 0.3)
    ),
    url(../../../img/g-3.jpg);
}
.gallery-slide-4 {
  background-image: linear-gradient(
      to top,
      rgba(4, 9, 30, 20),
      rgba(4, 9, 30, 0.3)
    ),
    url(../../../img/g-4.jpg);
}
.gallery-slide-5 {
  background-image: linear-gradient(
      to top,
      rgba(4, 9, 30, 20),
      rgba(4, 9, 30, 0.3)
    ),
    url(../../../img/g-5.jpg);
}
.gallery-slide-6 {
  background-image: linear-gradient(
      to top,
      rgba(4, 9, 30, 20),
      rgba(4, 9, 30, 0.3)
    ),
    url(../../../img/g-6.jpg);
}
.gallery-slide-7 {
  background-image: linear-gradient(
      to top,
      rgba(4, 9, 30, 20),
      rgba(4, 9, 30, 0.3)
    ),
    url(../../../img/g-8.jpg);
}
.gallery-slide-8 {
  background-image: linear-gradient(
      to top,
      rgba(4, 9, 30, 20),
      rgba(4, 9, 30, 0.3)
    ),
    url(../../../img/g-7.jpg);
}
.gallery-slide-9 {
  background-image: linear-gradient(
      to top,
      rgba(4, 9, 30, 20),
      rgba(4, 9, 30, 0.3)
    ),
    url(../../../img/g-9.jpg);
}

.gallery-slide-text {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 30px;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}

.swiper-slide:hover .gallery-slide-text {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper-slide:hover .gallery-slide-price {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen  and (max-width: 768px){
  .gallery-title {
    font-size: 2rem;
  }
  .gallery-mini-title::after {
    content: '';

    margin-left: 8rem;
  }
  .gallery-slide-text {
    display: block;
    width: 100%;
    height: 100%;
  }
  .gallery-slide-price {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1rem;
  }
}
