#app {
  height: 100%;
}

.review-swiper {
  width: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
}

.review-swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
  box-shadow: none;
}


/* .swiper-slide img {
  display: block;
} */
