.thero {
  background-image: url(../../../img/tbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 0 1rem;
  margin-top: -4rem;
  background-attachment: scroll;
}


.explore-btn {
  background-color: #3b8f60;
  color: #fff;
  border-radius: 5px;
  padding: 15px 40px;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 50%;
}

/* for donation  */
.donation {
  background-image: url(../../../img/donation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  background-attachment: scroll;

  }
  .inputstyle{
    background-color: #ffffffe1;

  }