.thero {
  background-image: url(../../../img/tbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 0 1rem;
  margin-top: -4rem;
  background-attachment: scroll;
}
.bannertext {
  font-weight: bold;
  font-size: 2rem;
  text-align: right;
  margin-left: 60%;
  color: #3b8f60;
  font-family: 'Times New Roman', Times, serif;
}

.explore-btn {
  background-color: #3b8f60;
  color: #fff;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 1.3rem;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 20rem;
  /* margin-left: 30%; */
}
.explore-btn2 {
  color: #3b8f60;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 1.3rem;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 1rem;
}

/* CSS for mobile screens */
/* @media (max-width: 767px) {
  .bannertext {
    font-size: 3rem;
    margin-top: 5rem;
    margin-left: 0;
    text-align: center;
  }

  .explore-btn {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 0;
    padding: 10px 30px;
  }
} */

.donation {
  background-image: url(../../../img/donation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  background-attachment: scroll;

  }
  .inputstyle{
    background-color: #ffffffe1;

  }