/* footer style start  */
.footer-bg{
    background-color: rgb(36, 35, 35);
    margin-top: 5%;
  
}
.footer-text{
    margin-top: 3%;
    color:aliceblue;
}
/* footer style end */



/* http://localhost:8000 */
.nbg {
    background-image: url("../img/nbg.png");
    background-repeat: no-repeat;
    border-radius: 15px;
    
  }
  .iconBlock{
    background-color: rgba(234, 231, 231, 0.263);
    color: rgb(217, 0, 58);
    width: 85px;
    height: 85px;  
    border-radius: 100%;
} 

  .iconPaper:hover .iconBlock{
    background-color: #df4e3b;;
    color: white;
    width: 85px;
    height: 85px;  
    border-radius: 100%;
} 

.hww-div {
  background-image: url('../img/how-we-work.jpg');
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}
.upper-div {
  height: 200px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hww-title {
  font-size: 3rem;
  font-weight: 500;
  color: #000;
  text-align: start;
  margin-bottom: 1rem;
}
.hww-subtitle {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 1rem;
  text-align: start;
}
@media only screen and (max-width: 600px) {
  .hww-div {
    height: 50vh;
  }
  .upper-div {
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
  .hww-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .hww-subtitle {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .MuiCard-root {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 1.5rem !important;
  }
  .MuiCardContent-root {
    padding: 1rem !important;
  }
  .MuiButton-root.hww-btn {
    width: 100% !important;
    margin-left: 12% !important;
    margin-top: 0.5rem !important;
    width: 50% !important;
  }
}

/* update page  */
.update-card{
  background: linear-gradient(to top, #a1d0d3, #f8f5e2);
}
