#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.banner-swiper {
  width: 100%;
  height: 100vh;
  background: #000;
  top: -150px; /* 150px is the height of the navbar */
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 150vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  /* background-image: url(../../../img/african-leopard-female-pose-beautiful-evening-light.jpg); */
  background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)),
    url(../../../img/banner-1.jpg);
}
.parallax-bg-2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  /* background-image: url(../../../img/organic-food-farm.jpg); */
  background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)),
    url(../../../img/banner-2.jpg);
}
.parallax-bg-3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  /* background-image: url(../../../img/close-up-picture-sapling-plant-is-growing.jpg); */
  background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)),
    url(../../../img/banner-3.jpg);
}

.swiper-slide .title {
  font-size: 4rem;
  font-weight: 600;
  margin-top: 5rem;
}

.swiper-slide .btn-div {
  font-size: 21px;

  z-index: 9999;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
  text-align: center;
}

.btn-div-2 {
  position: relative;
  top: -15%;
}
.banner-btn {
  background-color: #f8bf02;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  margin-top: 10rem;
  z-index: -1;
}
.banner-btn:hover {
  background-color: #fff;
  color: #000;
}
.span {
  color: #f8bf02;
}
.btn-div-2 {
  margin-top: 10rem;
}
.banner-btn-2 {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  margin-bottom: 25rem;
}
.banner-btn-2:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
}
