.box {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 75vh;
  margin-top: 5rem;
  /* background-color: red; */
}
.content {
  /* background-color: red; */
  /* margin-top: -5rem; */
}
.most-story-mini-title {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(255, 0, 0, 0.67);
  text-align: start;
  font-family: poppins !important;
  margin-bottom: -2rem;
}
.most-story-title {
  font-size: 3rem;
  font-weight: 600;
  color: #000000a4;
  text-align: start;
}
.para {
  font-size: 1rem;
  font-weight: 400;
  color: #000000a4;
  text-align: start;
  margin-top: -1rem;
}
.most-story-btn {
  background-color: #f8bf02;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1.5rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 25rem;
  cursor: pointer;
}

.icon-image {
  position: relative;
}
.play-icon {
  position: absolute;
  top: 50%;
  left: 45%;
  /* background-color: red; */
  color: #fff;
}
.most-story-img {
  width: 600px;
  height: 400px;
}
@media (max-width: 767px) {
  .box {
    height: auto;
    margin-top: 3rem;
   
  }

  .most-story-mini-title {
    font-size: 1rem;
    margin-bottom: -1.5rem;
  }

  .most-story-title {
    font-size: 2rem;
  }

  .para {
    font-size: 0.9rem;
    margin-top: -0.5rem;
  }

  .most-story-btn {
    margin-right: 0;
  }

  .most-story-img {
    width: 100%;
    height: auto;
  }
}
